<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuwaiq.value">

    <permission
        android:name="com.tuwaiq.value.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tuwaiq.value.PRIVATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="vnd.android.cursor.dir/contact" />
        </intent>
    </queries>

    <application
        android:name=".database.ValueApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_value"
        android:label="@string/app_name"
        android:roundIcon="@drawable/desklogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Value"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".WebViewNewsActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.tuwaiq.value.SHOW_NOTIFICATION" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>